[submodule "lib/flockdb"]
	path = lib/flockdb
	url = https://github.com/twitter/flockdb.git
[submodule "lib/networkx"]
	path = lib/networkx
	url = git://github.com/networkx/networkx.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/ryppl/boost-svn.git
[submodule "lib/arangodb"]
	path = lib/arangodb
	url = https://github.com/triAGENS/ArangoDB.git
[submodule "lib/arangodb-php"]
	path = lib/arangodb-php
	url = https://github.com/triAGENS/ArangoDB-PHP.git
[submodule "lib/neo4j"]
	path = lib/neo4j
	url = git://github.com/neo4j/neo4j.git
[submodule "lib/orientdb"]
	path = lib/orientdb
	url = https://github.com/nuvolabase/orientdb.git
[submodule "lib/titan"]
	path = lib/titan
	url = https://github.com/thinkaurelius/titan.git
[submodule "lib/spark"]
	path = lib/spark
	url = https://github.com/mesos/spark.git
[submodule "lib/giraph"]
	path = lib/giraph
	url = git://git.apache.org/giraph.git
