[submodule "lib/flockdb"]
	path = lib/flockdb
	url = https://github.com/twitter/flockdb.git
[submodule "lib/networkx"]
	path = lib/networkx
	url = git://github.com/networkx/networkx.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/ryppl/boost-svn.git
[submodule "lib/arangodb"]
	path = lib/arangodb
	url = https://github.com/triAGENS/ArangoDB.git
[submodule "lib/arangodb-php"]
	path = lib/arangodb-php
	url = https://github.com/triAGENS/ArangoDB-PHP.git
